<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/loginStyles.css">
</head>

<body>
  <div class="logo-container ">
    <img class="logo-img" src="images/logo.png" alt="Logo">
  </div>
  <div class="container">
  
    <h1>Login</h1>
    <form action="/" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="abcd@gmail.com" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
        <p class="error-message"><%= message %></p>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
  </div>
</body>
<%-include("footer")%>
</html>
